/*================================
            home
==================================*/

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, transparent 0%, rgb(85, 17, 112) 95%), url(/static/images/banner-refugee.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.home-text {
    color: white;
}

.home-text h1 {
    font-size: 3.5em;
    margin-bottom: 40px;
}


/*----------------- Home - Como funciona */

.funciona {
    height: 400px;
}

.funciona-cards {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.funciona-card {
    width: 30%;
}

.funciona-card img {
    width: 100px;
}

.funciona h3 {
    font-size: 1.4em;
    margin: 5px auto;
    color: #363636;
}


/*----------------- Home - Depoimentos */

.comentarios {
    background-color: var(--purple);
    height: 300px;
}

.comentarios-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comentario {
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}

.comentario h3 {
    margin: 10px 0px;
    color: var(--dark-gray);
}

.comentario p {
    color: var(--gray);
}


/*----------------- Home - Institucional */

.institucional {
    height: 500px;
}

.institucional-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.institucional-card {
    width: 32%;
}

.institucional-img {
    text-align: center;
    margin-right: 10px;
}

.institucional-img img {
    width: 120px
}

.institucional-card h3 {
    margin: 10px auto;
    font-size: 1.4em;
}