.leia-mais{
    background-color: white;
    background-image: url(/static/images/banner-refugee.png);
    background-size: cover; 
    background-position: center;
    height: 600px; 
}

.leia-mais{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.leia-mais p{
    color:yellow;
}

.funciona{
    background-color: palevioletred;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.acredita{
    background-color: brown;
    height: 300px;
}