body{
    margin:0;
    font-family:  'Unica One', cursive;
}

nav{
    background-color: #8A05BE;
    height: 100px;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-direction: row;
}

nav a{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 5px;
    text-decoration: none;
}
nav a:hover{
    color: #55D8B8;
    font-weight: 800;
    font-style: bolder;
}
.logo a{
    border-style: none;
}

nav a img{
    height: 60px;
    width: 113px;
}
.cadastro{
    display: contents;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.login{
    display: contents;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer{
    background-color: #8A05BE;
    height: 250px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-family: 'Patua One', cursive;
    
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: space-around;
}

.rede-social{
    display: flex;
    flex-direction: column;
}

.social-img img{
    height: 30px;
    width: 30px;
    
}

.social-img{
    justify-content: flex-end;
    flex-direction: column;
    display: inline-block;
}

.social-img h1{
    font-size: 15pt;
}

.endereco span{
    font-weight: bolder;
}

footer div h1{
    font-size: 15pt;
}

.endereco p{
    font-size: 10pt;
}


.goog-te-gadget-simple{
    background: transparent;
    border: none;
    width: 80px;
}

.tradutor{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: white;
}

#google_translate_element {
    display: none;
}

.goog-te-menu-value img {
    width: 10px;
}

.goog-te-menu-value {
    background: white;
    border: none;
}