body{
    margin:0;
    font-family: 'Righteous', cursive;
}

nav{
    background-color: #633F62;
    height: 100px;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

nav a{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.logo a{
    border-style: none;
}

nav a img{
    height: 100px;
    width: 110px;
}

footer{
    background-color: aquamarine;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rede-social{
    display: flex;
    flex-direction: column;
}

.social-img img{
    height: 30px;
    width: 30px;
}

.social-img{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.endereco span{
    font-weight: bolder;
}