@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}


/*================================
            reset css
==================================*/

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
figure,
nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}


/*================================
            Classes gerais
==================================*/

:root {
    --purple: #8A05BE;
    --dark-gray: #363636;
    --gray: #696969;
}

.container {
    width: 85%;
    margin: auto;
}

.btn {
    width: fit-content;
    padding: 15px 25px;
    margin: 15px auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.btn a {
    color: white;
}

.section-title {
    width: 100%;
    font-size: 2.5em;
    padding: 40px 0px 20px 0px;
    text-align: center;
}


/*----------------- colors */

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: var(--purple);
}

.dark-gray {
    color: var(--dark-gray);
}

.gray {
    color: var(--gray);
}

.white {
    color: white;
}


/*================================
            Nav - Menu
==================================*/

.nav {
    width: 100%;
    background-color: var(--purple);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 1px 3px rgb(111, 5, 153);
    font-size: .9em;
}

.nav .menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav .menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav .menu li {
    display: inline-block;
    color: white;
    padding: 30px 20px;
    box-sizing: border-box;
    height: 100%;
    transition: all 0.3s ease-out;
}

.nav .menu .nav-buttons li:hover {
    background-color: rgb(166, 28, 221);
}

.nav .menu .logo {
    width: 150px;
    padding: 20px 0px 0px 0px;
    margin-right: 15px;
    box-sizing: border-box;
}

.nav .menu .logo img {
    width: 100%;
}

.nav .menu a {
    color: white;
    text-decoration: none;
}

.nav-icon img {
    width: 30px;
}


/*----------------- footer */

footer {
    height: 150px;
    background-color: var(--purple);
}

.footer-links {
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer-links ul h3 {
    font-size: 1.4em;
    margin: 15px 0px;
}

.footer-social {
    display: flex;
    flex-direction: row;
}

.footer-social li {
    margin: 0px 10px;
}

footer img {
    width: 50px;
}