{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}
<header class = "leia-mais">
    <div class="buscar">
        <h1>Aqui é onde você refugiada encontra seu médico</h1>
        <form action='/'>
            <input type='text' name='pesquisa'>
            <button type='submit'>Buscar</button>
        </form>
        <p>Se prefeerir ligue para (11) 4444-4444</p>            
    </div>
</header>
<section class = "funciona">
    
</section>
<aside class = "acredita">
    <p>o que acreditamos e quem somos</p>
</aside>
{% endblock %}
