{% extends 'layout.html' %}

{% block content %}

<p>
    Quem somos?
</p>
<p>
    Dr. Ella é um projeto social independente criado por três alunas da academia de programação Mastertech, em junho de 2019, com intuito de promover saúde de qualidade e acessível para mulheres refugiadas que estão vivendo no país e necessitam de ajuda para encontrar ou ter acesso a consultas e/ou projetos de qualidade. Conta com a parceria de um grupo de profissionais da área da saúde e ongs de apoio a refugiados. 
</p>

<p>

</p>

{% endblock %}